:root {
    box-sizing: border-box;
    --background-color: #fff;
    --main-text-color: #000;
    --accent-color: #ccc;
}

*, ::after, ::before {
    box-sizing: inherit;
}

:valid {
    border: green solid 1px;
}

/* :invalid {
    border: red 2px solid;
} */
body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
form {
    display: flex;
    flex-direction: column;
}
section {
    background: url(../media/bread-background.jpg) top center;
}
.container {
    display: flex;
    width: clamp(400px, 80vw, 100vw);
    justify-content: space-around;
    align-items: center;
    height: min(60vh, 400px);
}